.wrap {
    height: 100vh;
    border: 4px double gainsboro;
    display: flex;
}

.wrap .menu {
    background-color: indigo;
    color: white;
    width: 250px;
    height: 100%;
}

.wrap .content {
    margin-left: 10px;
    padding-top: 10px;
    font-weight: 600;
    height: fit-content;
}