.wrap {
    height: 100vh;
    border: 4px double gainsboro;
    position: relative;
}

.wrap .menu {
    background-color: indigo;
    color: white;
    width: 250px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.wrap .content {
    font-weight: 600;
    display: inline-block;
    position: absolute;
    top: 10px;
    width: calc(100% - 260px);
    left: 260px;
}