body .wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    border:0;
    margin: 0;
}

.wrapper main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 4px solid red;
    height: 100%;
    border:0;
}

.wrapper > * {
    border: 4px solid red;
}

main > section {
    border: 4px solid red;
}

p {
    text-align: center;
    font-weight: 600;
}